.autor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;
    input{
        padding: 10px;
        margin-bottom: 20px;
        width: 100%;
        border-radius: 3px;
        border: .5px solid  rgb(86, 94, 204);

    }
//     button{
//         background: rgb(86, 94, 204);
//         border-radius: 3px;
//         border: none;
//         color: blanchedalmond;
//         padding: 10px;
//         width: 50%;

// }
}
