.listRow {
  border-radius: 15px;
  padding: 10px;
  background: rgba(86, 94, 204, 0.226);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &:hover {
    background: rgb(86, 94, 204);
    cursor: pointer;
  }
  span {
    margin-left: 20px;
  }
  a {
    text-decoration: none;
    color: rgb(255, 115, 0);
  }
}
